* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #0b5d69, #73a2ac);
  overflow: hidden;
}
.content {
  width: 90%;
  border: none;
  height: 85%;
  border-radius: 15px;
  background: white;
  margin-top: 3.5%;
  margin-left: 5%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
.icon {
  position: absolute;
  transition: all 5s;
}
.icon > svg {
  fill: tomato;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.4));
  transform: scale(1);
  animation:up-and-down-icon 1s infinite alternate;
}
.icon > svg:nth-child(1) {
  position: absolute;
  z-index: 1;
}

.icon:nth-child(1) {
  bottom: 35%;
  transition: all 5s;
  left: 8%;
}
.icon:nth-child(2) {
  bottom: 45%;
  left: 20%;
}
.icon:nth-child(3) {
  bottom: 40%;
  left: 30%;
}
.icon:nth-child(4) {
  bottom: 45%;
  left: 40%;
}
.icon:nth-child(5) {
  bottom: 35%;
  left: 50%;
}
.icon:nth-child(6) {
  bottom: 23%;
  left: 65%;
}
.icon:nth-child(7) {
  bottom: 30%;
  left: 75%;
}
.icon:nth-child(8) {
  bottom: 40%;
  left: 85%;
}
.icon-move {
  transform: translateY(-300px);
}
.icon-move >svg{
    animation:normal !important;
}
@keyframes up-and-down {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
@keyframes up-and-down-icon {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
.heart-two {
  color: violet !important;
}
.text-heart {
  position: absolute;
  color: #fff;
  left: 39px;
  top: 29px;
  font-size: 40px;
}
.text-heart-show {
  z-index: 2 !important;
  animation: up-and-down-text 1s infinite alternate;
}

@keyframes up-and-down-text {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 500px){
    .content{
        margin-top: 50px;
    }
    .icon > svg{
        width:50px;
    }
    .text-heart{
        left: 15px;
  top: 10px;
  font-size: 20px;
    }
}